@font-face {
  font-family: "iconfont";
  /* Project id 3976295 */
  src: url('iconfont.woff2?t=1679816997086') format('woff2'),
    url('iconfont.woff?t=1679816997086') format('woff'),
    url('iconfont.ttf?t=1679816997086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e612";
}

.icon-xinxitishi:before {
  content: "\e6ce";
}

.icon-liuyan:before {
  content: "\e606";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-chenggongtishi:before {
  content: "\e64e";
}

.icon-shibai:before {
  content: "\e8c5";
}

.icon-close:before {
  content: "\e65f";
}

.icon-right:before {
  content: "\e661";
}

.icon-left:before {
  content: "\e662";
}